<%= turbo_stream_from @room %>
<turbo-frame id="room">
  <div style="display: flex; align-items: center; gap: 10px;">
    <%= render @room %>

    <%= button_to "Edit", edit_room_path(@room), method: :get %>
    <%= button_to "Back", rooms_path, method: :get, "data-turbo-frame": "_top" %>
  </div>
</turbo-frame>

<div id="messages">
  <%= render @room.messages %>
</div>

<turbo-frame id="new_message" src="<%= @room.id %>/messages/new" target="_top">
</turbo-frame>
